* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Muli;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.lista-contatos-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    padding: 40px;

    .title {
        font-size: 50px;
        color: #506308;
    }

    .table-wrapper {
        width: 100%;
        max-height: 400px;
        overflow: auto;
    }

    .content-container {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .delete-messages {
            width: 70%;
            padding: 10px 0;

            background-color: #FFF;
            border: 2px solid #506308;
            color: #000;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            font-weight: 600;
            font-size: 18px;

            &:hover {
                border: 2px solid #506308;
                background-color: #506308;
                color: #FFF;
            }
        }
    }

    .contact-table {
        border-collapse: collapse;
        overflow: auto;
        width: 100%;
        padding: 10px;

        & td {
            padding: 20px 40px 20px 10px;

            button {
                background-color: rgba(80, 99, 8, 0.5);
                padding: 8px;
                border: none;
                cursor: pointer;
                font-weight: 600;

                &:hover {
                    background-color: rgba(80, 99, 8, 0.3);
                }
            }
        }

        .remove-row-btn {
            max-width: 200px;
            overflow-x: auto;
            white-space: nowrap;
        }

        .header {
            th {
                color: #FFF;
                padding: 10px;
                background-color: #506308;
                text-align: left;
            }
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

}