*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.academic-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 40px;  
    flex-grow: 1;
    & h1{
        font-size: 50px;
        font-family: Muli;
    }

    & .content-container{
        display: flex;
        gap: 40px;

        .text-container{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        iframe{
            width: 100%;
        }
    }
}

@media (max-width: 767px){
    .academic-container{
        padding: 20px;
        & .content-container{
            flex-direction: column;
        }
    }
}